@using FoxPet.Repositories
@model Fox
@{
    ViewData["Title"] = "Information";
}

<ul>
    <li><a href="/?name=@Model.Name">Information</a></li>
    <li><a href="nutritionStore?name=@Model.Name">Nutrition Store</a></li>
    <li><a href="trickCenter?name=@Model.Name">Trick Center</a></li>
    <li><a href="actionHistory?name=@Model.Name">Action History</a></li>

</ul>

<img src="~/greenfox.png" />

<p>This is @Model.Name. Currently living on @Model.Food and @Model.Drink. He knows @Model.Tricks.Count tricks.</p>

<h1>Known Tricks</h1>

@if (@Model.Name.Equals("Mr.Green") && @Model.Food.Equals("salad") && @Model.Drink.Equals("water") && @Model.Tricks.Count == 0)
{
    <p>You know no tricks, yet. Go and learn some.</p>
}
else if (@Model.Tricks.Count == 0)
{
    <p>You know no tricks, yet. Go and learn some.</p>
}
else
{
    foreach (var trick in @Model.Tricks)
    {
        <ul>
            <li>@trick</li>
        </ul>
    }
}


