@using FoxPet.Models
@model Fox
@{
    ViewData["Title"] = "Information";
}
<!doctype html>
<html>
<body>
    <ul>
        <li><a href="">Information</a></li>
        <li><a href="">Nutrition Store</a></li>
        <li><a href="">Trick Center</a></li>
        <li><a href="">Action History</a></li>
    </ul>

    <img src="~/greenfox.png" />

    <p>This is @Model.Name. Currently living on @Model.Food and @Model.Drink. He knows @Model.Tricks.Count tricks.</p>

    <h1>Known Tricks</h1>

    @if (@Model.Tricks.Count == 0)
    {
        <p>You know no tricks, yet. Go and learn some.</p>
    }
    else
    {
        foreach (var trick in @Model.Tricks)
        {
            <ul>
                <li>@trick</li>
            </ul>
        }
    }
</body>
</html>